
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

.input-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: navy;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.forget{
    margin-top: 10px;
    text-align: center;
}
/* Responsive Design */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }
    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.2rem;
    }

    .input-group input {
        padding: 10px;
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}

.container form .error-msg{
margin:10px 0;
display: block;
background: rgb(214, 101, 125);
color:#fff;
border-radius: 5px;
font-size: 20px;
padding:10px;
}




